<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
<%- include('base/header'); -%>
</head>
<body>
    <%- include('base/navbar'); -%>
    <h3> sorry some internal error in the server</h3>

</body>
<%- include('base/scripts'); -%>
</html>